<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.spring.main.Student" name="student1">
		<property name="studentId">
			<value>123</value>
		</property>
		<property name="studentName">
			<value>Praveen</value>
		</property>
		<property name="studentAddress">
			<value>Machhua</value>
		</property>
	</bean>

	<bean class="com.spring.main.Student" name="student2">
		<property name="studentId" value="222" />
		<property name="studentName" value="Arjun" />
		<property name="studentAddress" value="Delhi" />
	</bean>
	
	<bean class="com.spring.main.Student" name="student3" p:studentId="222" p:studentName="Vivek" p:studentAddress="Noida"/>

</beans>